.DigitalDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70px;
    background: #000;
    color: #77cbff;
}
